<!-- Language Select -->
        <div class="input-group-append md-3">
          <select class="btn btn-outline-primary input-sm">
            <option>Lang</option>
            <option>English</option>
            <option>French</option>
            <option>German</option>
          </select>
        </div>
        <!-- Extension Select -->
        <div class="input-group-append md-3">
            <select  class="btn btn-outline-primary input-sm">
                <option>Ext</option>
                <option>PDF</option>
                <option>EPUB</option>
                <option>DJVU</option>
              </select>
        </div>